#div-shape-box{
    height: 600px;
    width: 600px;
    background-color:wheat;
}

#rectangle{
    height: 100px;
    width: 50px;
}

#square{
    height: 50px;
    width: 50px;
}

#circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#triangle{
    width: 20;
    height: 20;
    border-left: 100px;
    border-right: 100px;
    border-bottom: 150px; 
}
/* 
.shapes{
    position: absolute;
} */